<launch>
    
    <!-- SENSORS -->
    <include file="$(find trog_sensors)/launch/sensors.launch"/>

    <!-- ODOMETRY -->
<!--     <node name="fake_odom" pkg="trog_odom" type="test_odom_node"/> -->

    <!-- TRANSFORMS -->
    <!-- Velodyne LiDAR -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_laser_broadcaster" 
          args="0 0 0 0 0 0 1 base_link laser_link" />

    <!-- For Hector Mapping. Might remove later.-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_broadcaster" 
          args="0 0 0 0 0 0 1 base_footprint velodyne" />
    
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_footprint_broadcaster" 
          args="0 0 0 0 0 0 1 nav base_footprint" />     

    <node pkg="tf2_ros" type="static_transform_publisher" name="map_scanmatcher_broadcaster" args="0 0 0 0 0 0 1 map scanmatcher_frame"/>

  <!-- <node pkg="controller_node_pkg" type="controller_node_type" name="controller" output="screen">
  </node>  -->
</launch>
