
<launch>

  <include file="$(find troggie_description)/launch/description.launch" >

  <!-- Load controller configuration -->
  <rosparam command="load" file="$(find troggie_control)/config/control.yaml" />

  <!-- Spawn controllers -->
  <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
        args="troggie_joint_publisher troggie_velocity_controller" output="screen"/> 
</launch>
