<launch>

      <include file="$(find trog_description)/launch/description.launch" />

      <!-- Load controller configuration -->
      <rosparam command="load" file="$(find trog_control)/config/control.yaml" />

      <!-- Spawn controllers -->
      <node name="base_controller_spawner" pkg="controller_manager" type="spawner"
      args="trog_joint_publisher trog_velocity_controller" output="screen"/> 

      <!-- Start control loop and motor controller driver -->
      <include file="$(find roboteq_driver)/launch/roboteq.launch" />
      <node name="trog_control_node" pkg="trog_control" type="trog_control_node"/>

</launch>
