<launch>
    <!-- Provide map -->
    <arg name="map_name" default="my_map" />
    <node pkg="map_server" type="map_server" name="map_server" args="$(find trog_mapping)/maps/$(arg map_name).yaml"/>

    <!-- Localization -->
    <include file="$(find trog_mapping)/launch/amcl_diff.launch"/>
</launch>