<launch>
    <arg name="create_map" default="False"/>
    <arg name="move_base" default="False"/>

    <!-- Start control nodes -->
    <include file="$(find trog_control)/launch/control.launch"/>

    <!-- Start sensors nodes -->
    <include file="$(find trog_sensors)/launch/sensors.launch"/>

    <!-- Create or Load Map -->
    <include file="$(find trog_mapping)/launch/slam.launch" if="$(eval create_map == 'True')"/>
    <include file="$(find trog_mapping)/launch/known_map.launch" if="$(eval create_map == 'False')"/>

    <!-- Move Base -->
    <include file="$(find trog_2dnav)/launch/move_base.launch" if="$(eval move_base == 'True')"/>
</launch>
