<launch>
  <node pkg="sensor_node_pkg" type="sensor_node_type" name="lidar_node_name" output="screen">
      <param name="sensor_param" value="param_value" />
  </node>
  

  <node pkg="camera_node_pkg" type="camera_node_type" name="camera" output="screen">
  </node>

  <node pkg="radar_node_pkg" type="radar_node_type" name="radar" output="screen">
  </node>

  <!-- <node pkg="IMU_node_pkg" type="IMU_node_type" name="IMU" output="screen">
  </node>

  <node pkg="GPS_node_pkg" type="GPS_node_type" name="GPS" output="screen">
  </node>

  <node pkg="controller_node_pkg" type="controller_node_type" name="controller" output="screen">
  </node> -->

  <node pkg="odom_node_pkg" type="odom_node_type" name="odom_node" output="screen">
      <param name="odom_param" value="param_value" />
  </node>

  <node pkg="transform_configuration_pkg" type="transform_configuration_type" name="transform_configuration_name" output="screen">
      <param name="transform_configuration_param" value="param_value" />
  </node>
</launch>
