<?xml version="1.0"?>
<launch>
	<param name="use_sim_time" value="true" />
	<node pkg="point_cloud_converter" type="point_cloud_converter_node" name="point_cloud_converter">
	      <remap from="points_in" to="prius/center_laser/scan"/>
	      <remap from="points2_out" to="prius/center_laser/scan2" />
	</node>
	<node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
	      <remap from="cloud_in" to="prius/center_laser/scan2" />
	      <remap from="scan" to="prius/center_laser/2dscan" />
	      <rosparam param="min_height">-1.0</rosparam>

	</node>
	<node pkg="gmapping" type="slam_gmapping" name="gmapping">
	      <remap from="scan" to="prius/center_laser/2dscan" />
	      <remap from="base_link" to="base_link" />
	</node>
</launch>
