<launch>
    <!-- Make sure to call rosservice call move_base/global_localization -->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find trog_mapping)/maps/lab_map.yaml"/>

    <node pkg="tf" type="static_transform_publisher" name="map_to_odom" args="0.0 0.0 0.0 0 0.0 0.0 /map /world 40" /> 

    <include file="$(find trog_sensors)/launch/sensors.launch"/>

    <!-- Provides odometery from laser scans -->
    <include file="$(find laser_scan_matcher)/launch/laser_odom.launch"/>

    <!-- Localization -->
    <include file="$(find amcl)/examples/amcl_diff.launch"/>

     <!-- Move base for 2d navigation -->
    <!-- <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find trog_2dnav)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find trog_2dnav)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find trog_2dnav)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find trog_2dnav)/config/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find trog_2dnav)/config/base_local_planner_params.yaml" command="load" />
    </node> -->

</launch>
